################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/assignment c#-1/.vs/assignment c#-1/FileContentIndex
